# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

yarn-error.log

# misc
.DS_Store
npm-debug.log*

dist
lib

.idea/
.vscode/

secret.*
**/output
